Project/.idea
# Unity
Project/[Ll]ibrary/
Project/[Tt]emp/
Project/[Oo]bj/
Project/[Bb]uild/
Project/[Bb]uilds/
Project/[Ll]ogs/
Project/[Uu]ser[Ss]ettings/
Project/.vs/
Project/.vscode/
Project/*.csproj
Project/*.sln
Project/*.suo
Project/*.userprefs

# macOS
.DS_Store

# 保留必要的
!Project/[Pp]ackages/manifest.json
!Project/[Pp]ackages/packages-lock.json

# Microsoft Office temporary files
*.tmp
~$*
~*.xls
~*.xlsx
~*.doc
~*.docx
~*.ppt
~*.pptx

# Office自动恢复文件
*.~*